<!DOCTYPE html>
<html>

<head>
    <title>Debate</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div ng-app="commentsApp">
        <div ng-controller="commentsCtrl">
            <p>Comments list:</p>
            <ul>
                <li ng-repeat="comment in comments">
                    {{comment.tip}}: {{ comment.text }}
                </li>
            </ul>
        </div>
        <div ng-controller="myController">
            <p>Add comment:</p>
            <form ng-submit="submitPost()">
                <div>
                    <label for="tip">Tip</label>
                    <input type="text" id="tip" name="tip" ng-model="postData.tip">
                </div>
                <div>
                    <label for="text">Text</label>
                    <input type="text" id="text" name="text" ng-model="postData.text"></input>
                </div>
                <button type="submit">Trimite</button>
            </form>
        </div>
    </div>

    <script>
        var app = angular.module('commentsApp', []);

        app.controller('commentsCtrl', function ($scope, $http) {
            $http({
                method: "GET",
                url: "http://localhost:3000"
            }).then(function mySuccess(response) {
                $scope.comments = response.data;
            }, function myError(response) {
                console.log(response.statusText);
            });
        });

        app.controller('myController', function ($scope, $http) {
            $scope.apiUrl = 'http://localhost:3000';
            $scope.postData = {};

            $scope.submitPost = function () {
                $scope.postData.id_parinte = "1";
                json = JSON.stringify($scope.postData);
                console.log(json)

                $http.post($scope.apiUrl, json, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    }, function (error) {
                        console.error(error);
                    });
            }

        });
    </script>
</body>

</html>